@charset "UTF-8";
/* flexboxの使用方法(縦向き)
　　昔はfloatを使っていたが、flexboxを使うことで簡単にレイアウトを組むことができる
*/
.container {
  /* flexBox使用宣言 */
  display: flex; 
  /* 垂直方向のどの位置に配置するか指定 */
  /* align-items: center; */
  /* 複数行の垂直方向への並び方 */
  align-content: space-between;
  /* 並び順 */
  flex-wrap: wrap;
  height: 300px;
  background-color: aquamarine;
}

.Item {
  background: #0bd;
  color: #fff;
  margin: 10px;
  padding: 10px;
}