@charset "UTF-8";

/* 共通部分
------------------------------------------------------------ */
html {
  /* ユーザー指定の文字サイズを正しく反映させるため設定 */
  font-size: 100%;
}
body {
  font-family: "Yu Gothic Medium", "遊ゴシック Medium", YuGothic, "遊ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* HEADER
------------------------------------------------------------ */
.logo {
  width: 210px;
  margin-top: 14px;
}
.main-nav {
  display: flex;
  font-size: 1.25rem;
  /* 小文字表記を大文字表記に変更 */
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}
.main-nav li {
  margin-right: 36px;
}
.main-nav a {
  color: #432;
}
/* マウスカーソルを合わせた際、色を変化させる */
.main-nav a:hover {
  color: #0bd;
}
/* ロゴとナビメニューを横並びに設定 */
.page-header {
  display: flex;
  justify-content: space-between;
}
/* コンテンツの最大表示幅の設定 */
.wrapper {
  max-width: 1100px;
  /* 画面中央に移動 */
  margin: 0 auto;
  /* スマホ向け余白設定 */
  padding: 0 4%;
}

/* HOME
------------------------------------------------------------ */
.home-content {
  text-align: center;
  margin-top: 10%;
}
.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

/* 見出し ※汎用 */
.page-title {
  font-size: 5rem;
  font-family: "Philosopher", serif;
  text-transform: uppercase;
  font-weight: normal;
}

/* ボタン ※汎用 */
.button {
  font-size: 1.375rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}
.button:hover {
  background: #0090aa;
}

/* 大きな背景画像 */
.big-bg {
  /* 画像の縦横の比率を保ったまま画面いっぱいに広げる */
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home {
  /* 背景 + グラデーション */
  background-image: url("./images/main-bg.jpg"),
    linear-gradient(#c9ffbf, #ffafbd);
  background-blend-mode: luminosity;
  height: 100vh;
}
#home .page-title {
  /* タイトルのみ大文字、小文字、全角の指定は、変換しない設定 */
  text-transform: none;
}

/* NEWS
------------------------------------------------------------ */
#news {
  background-image: url("./images/news-bg.jpg");
  height: 270px;
  margin-bottom: 40px;
}
#news .page-title {
  text-align: center;
}

/* フッター
------------------------------------------------------------ */
footer {
  background: #432;
  text-align: center;
  padding: 26px 0;
}
footer p {
  color: #fff;
  font-size: 0.875rem;
}

/* 記事部分 */
article {
  width: 60%;
  /* 左から表示順を指定　※display:flexの指定が　ある要素の子要素のみ動作 */
  order: 2;
}
article img {
  margin-bottom: 20px;
}
article p {
  margin-bottom: 1rem;
}
.post-info {
  /* 相対位置への配置 */
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}
.post-date {
  background: #0bd;
  border-radius: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  font-size: 1.625rem;
  text-align: center;
  /* 親要素をrelativeに指定して、absoluteを指定すると親要素の上に被る */
  position: absolute;
  top: 0;
  padding-top: 10px;
}
.post-date span {
  font-size: 1rem;
  /* .5で線の透明度設定 */
  border-top: 1px rgba(255, 255, 255, 0.5) solid;
  padding-top: 6px;
  /* 要素の中で改行できる */
  display: block;
  width: 60%;
  margin: 0 auto;
}
.post-title {
  font-family: "Yu Mincho", "YuMincho", serif;
  font-size: 2rem;
  font-weight: normal;
}
.post-title,
.post-cat {
  margin-left: 120px;
}

/* サイドバー */
aside {
  width: 22%;
  /* 左から表示順を指定　※display:flexの指定が　ある要素の子要素のみ動作 */
  order: 3;
}
aside p {
  /* 文章改行(余白)箇所変更 */
  padding: 12px 10px;
}
.sub-title {
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
}
.sub-menu {
  margin-bottom: 60px;
  list-style: none;
}
.sub-menu li {
  border-bottom: 1px #ddd solid;
}
.sub-menu a {
  color: #432;
  padding: 10px;
  /* 改行し、リンククリック範囲を拡大 */
  display: block;
}
.sub-menu a:hover {
  color: #0bd;
}

.news-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.ad {
  /* 左から表示順を指定　※display:flexの指定が　ある要素の子要素のみ動作 */
  order: 1;
}

/* MENU
------------------------------------------------------------ */
#menu {
  background-image: url("./images/menu-bg.jpg");
  min-height: 100vh;
}
.menu-content {
  max-width: 560px;
  margin-top: 10%;
}
.menu-content .page-title {
  text-align: center;
}
.menu-content p {
  font-size: 1.125rem;
  margin: 10px 0 0;
}
.grid {
  display: grid;
  gap: 26px;
  /* グリッド指定 240pxより画像が小さくならないよう指定 */
  /* auto-fitを指定することで、画面の幅に合わせて要素を折り返して表示 */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}
.big-box {
  /* 大きいサイズのグリッドアイテムを指定 */
  /* 横の範囲の指定 */
  grid-column: 1 / 3;
  /* 縦の範囲の指定 */
  grid-row: 1 / 3;
}
.big-box img {
  /* 大きいサイズ画像の高さ調整 */
  height: 94%;
  width: 100%;
  /* imgサイズの歪みをトリミングして自動調整 */
  object-fit: cover;
}

/* CONTACT
------------------------------------------------------------ */
#contact {
  background-image: url("./images/contact-bg.jpg");
  /* 背景画像の最低の高さを指定 */
  min-height: 100vh;
}

/* FORM */
form div {
  margin-bottom: 14px;
}
label {
  font-size: 1.125rem;
  margin-bottom: 10px;
  /* 要素の中で改行できる */
  display: block;
}
input[type="text"],
input[type="email"],
textarea {
  /* 半透明の入力欄 */
  background: rgba(255, 255, 255, 0.5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 240px;
}
textarea {
  width: 100%;
  max-width: 480px;
  height: 6rem;
}
input[type="submit"] {
  border: none;
  cursor: pointer;
  line-height: 1;
}

/* 店舗情報・地図 */
#location {
  padding: 4% 0;
}
#location .wrapper {
  display: flex;
  justify-content: space-between;
}
.location-info {
  width: 23%;
}
.location-info p {
  padding: 12px 10px;
}
.location-map {
  width: 74%;
}

/* googleMap iframe */
iframe {
  /* 地図画面表示はみ出し対策 */
  width: 100%;
}

/* SNS */
#sns {
  background: #FAF7F0;
  padding: 4% 0;
}
#sns .wrapper {
  display: flex;
  justify-content: space-between;
}
#sns .sub-title {
  margin-bottom: 30px;
}
.sns-box {
  width: 30%;
}

/* レスポンシブ対応　モバイル版 タイトルとメニュー文字サイズを変更
------------------------------------------------------------ */
/* メディアクエリー　ブレークポイントは600pxがオールラウンダーに対応でき、良い */
@media (max-width: 600px) {
  .page-title {
    font-size: 2.5rem;
  }
  .page-header {
    /* ロゴに対して、要素を縦並びに変更 */
    flex-direction: column;
    /* 要素を画面中央に配置 */
    align-items: center;
  }

  /* HEADER */
  .main-nav {
    font-size: 1rem;
    margin-top: 10px;
  }
  .main-nav li {
    margin: 0 20px;
  }

  /* HOME */
  .home-content {
    margin-top: 20%;
  }

  /* NEWS */
  .news-contents {
    /* メイン、サイドメニュー要素を縦並びに変更 */
    flex-direction: column;
  }
  article,
  aside {
    width: 100%;
  }
  /* 見やすいように調整 */
  #news .page-title {
    margin-top: 30px;
  }
  aside {
    margin-top: 60px;
  }
  .post-info {
    margin-bottom: 30px;
  }
  .post-date {
    width: 70px;
    height: 70px;
    font-size: 1rem;
  }
  .post-date span {
    font-size: 0.875rem;
    padding-top: 2px;
  }
  .post-title {
    font-size: 1.375rem;
  }
  .post-cat {
    font-size: 0.875rem;
    margin-top: 10px;
  }
  .post-title,
  .post-cat {
    margin-left: 80px;
  }

  /* MENU */
  .menu-content {
    margin-top: 20%;
  }
  .big-box {
    /* グリッド箇所をスマホ表示用に自動でリサイズ */
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 30px;
  }
  .big-box img {
    height: 100%;
  }

  /* CONTACT */
  #contact .page-title {
    margin-top: 40px;
  }

  /* FORM */
  input[type="text"],
  input[type="email"],
  textarea {
    max-width: 100%;
  }
}
