@charset "UTF-8";
/* flexboxの使用方法(横向き)
　　昔はfloatを使っていたが、flexboxを使うことで簡単にレイアウトを組むことができる
*/
.container {
  /* flexBox使用宣言 */
  display: flex; 
  /* 並び順 */
  flex-direction: row;
  /* 並び方 */
  justify-content: space-around;
  /* 折り返し */
  flex-wrap: wrap;
  background-color: aquamarine;
}
.Item {
  background: #0bd;
  color: #fff;
  margin: 10px;
  padding: 10px;
}